
[project.scripts]
{{ package_name }} = "{{ package_name }}:hello"

[tool.ruff]
line-length = 120
target-version = "py314"

[tool.ruff.lint]
select = ["ALL"]
ignore = ["COM812", "ISC001", "D", "PGH003"]

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["S101", "S105", "S106", "PLR2004", "E501", "ANN", "INP", "FBT001", "FBT002", "S314"]

[tool.ruff.lint.mccabe]
max-complexity = 5

[tool.pyright]
include = ["src/"]
pythonVersion = "3.14"
